Repository voxpupuli/puppet-yum, pull requests merged in 2018-07, with the labels that each got.

#102 Clean yum metadata after versionlock file update
  README.md
  manifests/clean.pp
  manifests/plugin/versionlock.pp
  spec/acceptance/define_versionlock_spec.rb
  spec/defines/versionlock_spec.rb
Labels: enhancement

#96 Fixes #95 Add EPEL GPG Key and logic to handle yum::gpgkeys
  README.md
  data/common.yaml
  data/os/RedHat.yaml
  manifests/init.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement, needs-work

#56 Don't litter /root/ with GPG-related files.
  manifests/gpgkey.pp
Labels: bug

#105 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#106 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#109 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync

#108 (#107) YUM update puppet task support
  README.md
  tasks/init.json
  tasks/init.rb
Labels: enhancement

#110 release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
