Repository voxpupuli/puppet-yum, pull requests merged in 2020-01, with the labels that each got.

#147 add 'VirtuozzoLinux' support
  data/os/RedHat/VirtuozzoLinux/6.yaml
  data/os/RedHat/VirtuozzoLinux/7.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#143 Support for DNF-based distros, and Fedora defaults
  README.md
  data/os/RedHat/Fedora.yaml
  manifests/init.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#137 Updated utils package for RHEL 8
  data/os/RedHat/Amazon/8.yaml
  data/os/RedHat/CentOS/8.yaml
  data/os/RedHat/RedHat/8.yaml
  data/os/RedHat/VirtuozzoLinux/8.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#156 release 4.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#159 Fedora/CentOS8: Ensure yum-utils/dnf-utils are present
  data/os/RedHat/Amazon/8.yaml
  data/os/RedHat/CentOS/8.yaml
  data/os/RedHat/RedHat/8.yaml
  data/os/RedHat/VirtuozzoLinux/8.yaml
  spec/classes/init_spec.rb
Labels: bug
