Repository voxpupuli/puppet-yum, pull requests merged in 2020-06, with the labels that each got.

#179 De-duplicate start of string match character
  types/rpmrelease.pp
Labels: bug

#175 Add dnf tag to metadata
  metadata.json
Labels: docs

#181 Improve extraction of available updates
  lib/facter/yum_updates.rb
  spec/unit/facter/yum_package_updates_spec.rb
Labels: enhancement

#177 versionlock must specify at least .* for arch.
  REFERENCE.md
  manifests/versionlock.pp
  spec/defines/versionlock_spec.rb
Labels: bug

#173 Use simpler code for tests for expected failures
  spec/classes/init_spec.rb
  spec/defines/config_spec.rb
  spec/defines/gpgkey_spec.rb
  spec/defines/versionlock_spec.rb
Labels: enhancement
