Repository voxpupuli/puppet-yum, pull requests merged in 2021-06, with the labels that each got.

#211 Drop EoL Fedora support
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  README.md
  Rakefile
  data/os/RedHat/CentOS/6.yaml
  data/os/RedHat/VirtuozzoLinux/6.yaml
  metadata.json
Labels: backwards-incompatible

#195 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync, tests-fail

#212 Add support for rocky linux
  data/os/RedHat/Rocky.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#205 fix package name for yum plugin versionlock on RHEL/CentOS 8
  manifests/plugin/versionlock.pp
  spec/acceptance/define_versionlock_spec.rb
Labels: bug

#213 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#214 Release 5.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
