Repository voxpupuli/puppet-yum, pull requests merged in 2022-07, with the labels that each got.

#259 Add CentOS Stream9 repos
  data/os/RedHat/CentOS/9.yaml
  metadata.json
  spec/acceptance/define_versionlock_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#258 Permit easily purging unmanaged repos
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement

#261 Add RPMFusion repos
  data/repos/repos.yaml
Labels: enhancement

#263 Ensure any/all GPG keys are installed before attempting to install yu…
  manifests/init.pp
Labels: bug

#264 Release 5.6.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#266 Remove obsolete repos from CentOS 9
  data/os/RedHat/CentOS.yaml
  data/os/RedHat/CentOS/7.yaml
  data/os/RedHat/CentOS/8.yaml
  spec/classes/init_spec.rb
Labels: bug

#268 Release 5.6.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#270 add Fedora support
  README.md
  data/os/RedHat/Fedora.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#271 manage $repodir only if $purge_unmanaged_repos is enabled
  manifests/init.pp
Labels: enhancement
