Repository voxpupuli/puppet-yum, pull requests merged in 2022-02, with the labels that each got.

#232 modulesync 5.1.0
  .msync.yml
  .puppet-lint.rc
  .sync.yml
  Gemfile
  REFERENCE.md
  Rakefile
  lib/facter/yum_reboot_required.rb
  lib/facter/yum_updates.rb
  manifests/config.pp
  manifests/gpgkey.pp
  manifests/group.pp
  manifests/init.pp
  manifests/install.pp
  manifests/plugin.pp
  manifests/plugin/versionlock.pp
  spec/acceptance/class_spec.rb
  spec/acceptance/define_versionlock_spec.rb
  spec/acceptance/post_transaction_actions_spec.rb
  spec/classes/init_spec.rb
  spec/classes/plugin_post_transaction_actions_spec.rb
  spec/defines/config_spec.rb
  spec/defines/gpgkey_spec.rb
  spec/defines/group_spec.rb
  spec/defines/plugin_spec.rb
  spec/defines/post_transaction_action_spec.rb
  spec/defines/versionlock_spec.rb
  spec/functions/bool2num_hash_recursive_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/type_aliases/yum_rpmarch_spec.rb
  spec/type_aliases/yum_rpmname_spec.rb
  spec/type_aliases/yum_rpmnameglob_spec.rb
  spec/type_aliases/yum_rpmrelease_spec.rb
  spec/type_aliases/yum_rpmversion_spec.rb
  spec/unit/facter/yum_package_updates_spec.rb
  tasks/init.rb
Labels: modulesync

#235 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#236 yamllint failure on VirtuozzoLinux/7.yaml - duplication of key gpgkey
  data/os/RedHat/VirtuozzoLinux/7.yaml
Labels: bug

#237 Release 5.3.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#239 Allow arch aarch64 in yum::versionlock
  spec/type_aliases/yum_rpmarch_spec.rb
  types/rpmarch.pp
Labels: enhancement
