Repository voxpupuli/puppet-yum, pull requests merged in 2022-11, with the labels that each got.

#282 fix puppet-lint errors
  functions/bool2num_hash_recursive.pp
  manifests/init.pp
Labels: bug

#281 add AlmaLinux 9 support
  data/os/RedHat/AlmaLinux/8.yaml
  data/os/RedHat/AlmaLinux/9.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#283 release 6.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#278 Deploying multiple gpgkey in one repo
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement
