Repository voxpupuli/puppet-yum, pull requests merged in 2022-06, with the labels that each got.

#244 Add `require_verify` option to install.pp
  README.md
  manifests/install.pp
Labels: enhancement

#255 Avoid assumption that package_provider is set
  data/common.yaml
  data/package_provider/yum.yaml
  spec/defines/post_transaction_action_spec.rb
  spec/defines/versionlock_spec.rb
Labels: bug

#256 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
Labels: modulesync
