Repository voxpupuli/puppet-yum, pull requests merged in 2022-04, with the labels that each got.

#249 sync with upstream AlmaLinux repository set
  data/os/RedHat/AlmaLinux.yaml
  spec/classes/init_spec.rb
Labels: enhancement

#247 Fix epel-modular repo names
  data/repos/RedHat/8.yaml
Labels: bug

#252 Release 5.4.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
