Repository voxpupuli/puppet-yum, pull requests merged in 2023-05, with the labels that each got.

#300 Add RHEL 9 to supported OS
  metadata.json
Labels: enhancement

#307 Use dnf or yum augeas path for main configuration
  REFERENCE.md
  data/common.yaml
  data/package_provider/dnf.yaml
  manifests/config.pp
  manifests/settings.pp
  spec/acceptance/define_versionlock_spec.rb
  spec/acceptance/yum_config_variable_false_spec.rb
  spec/defines/config_spec.rb
Labels: bug

#306 modulesync 6.0.0
  .msync.yml
  Gemfile
Labels: modulesync
