Repository voxpupuli/puppet-yum, pull requests merged in 2023-06, with the labels that each got.

#309 Fix purge of unwanted kernels on DNF based machines
  manifests/init.pp
  spec/acceptance/yum_config_install_limit_2_spec.rb
  spec/classes/init_spec.rb
Labels: bug

#312 Almalinux 9.2 shows these repos as `-debuginfo`
  data/os/RedHat/AlmaLinux/9.yaml
  spec/classes/init_spec.rb
Labels: bug

#311 New yum::groups parameter to manage groups
  REFERENCE.md
  manifests/init.pp
  spec/acceptance/define_group_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#315 puppetlabs/stdlib: Require 9.x
  functions/bool2num_hash_recursive.pp
  manifests/init.pp
  metadata.json
Labels: backwards-incompatible

#316 Release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#215 Add yum::copr resource to handle COPR repositories.
  README.md
  REFERENCE.md
  manifests/copr.pp
  spec/defines/copr_spec.rb
Labels: enhancement

#317 Release 7.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
