Repository voxpupuli/puppet-yum, pull requests merged in 2024-12, with the labels that each got.

#341 Improve yum::copr idempotency
  manifests/copr.pp
  spec/acceptance/copr_spec.rb
  spec/defines/copr_spec.rb
Labels: bug

#342 Add Fedora 40, OracleLinux 9, Rocky 9
  metadata.json
  spec/acceptance/copr_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#344 Replace legacy facts
  lib/facter/yum_reboot_required.rb
  lib/facter/yum_updates.rb
  spec/unit/facter/yum_package_updates_spec.rb
Labels: bug

#345 Release 7.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
